<nandalala-popup title="Reset Password" acceptLabel="Save" cancelLabel="Cancel" acceptIcon="fa fa-floppy-o"
    [widthArg]="400" [heightArg]="400" (acceptClick)="onSaveClick();" (cancelClick)="onCancelClick()">
        <div class="row">
            <div class="form-group   col-sm-4 ">
                <label for="username"
                    style="float:right; font-weight: 400; color: #337ab7; padding-top:7px;">Username</label>
            </div>
            <div class=" col-sm-6 ">
                <input class="form-control" type="text" id="username" [(ngModel)]="username" readonly="readonly">
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-sm-4 ">
                <label for="password"
                    style="float:right; font-weight: 400; color: #337ab7; padding-top:7px;">Password</label>
            </div>
            <div class=" col-sm-6 ">
                <input class="form-control" id="password" type="password" [(ngModel)]="password">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 ">
                <label for="confirmPassword" style="float:right;  font-weight: 400; color: #337ab7; padding-top:7px;"> Confirm
                    Password</label>
            </div>
            <div class=" col-sm-6 ">
                <input class="form-control" id="confirmPassword" type="password" [(ngModel)]="confirmPassword">
            </div>
        </div>
</nandalala-popup>