.active-cursor{
    cursor: pointer;
}
.active-cursor-move{
    cursor: move;
}
.gu-mirror{
  cursor: move;
}
.bg-white {
    background-color: #ffffff;
}
.p1 {
    padding: 5px;
}
.pxy1 {
    padding: 5px 10px !important;
}
.table th, .table td {
    padding: 5px;
}
.table-responsive {
    width: 100%; 
    overflow-x: auto;
}
.w-20 {
    width: 20% !important;
}
.w-40 {
    width: 40% !important;
}
.w-30 {
    width: 30% !important;
}
.w-35 {
    width: 35% !important;
}
.w-15 {
    width: 15% !important;
  }
  .w-10 {
    width: 10% !important;
  }
  .vertical-top {
    vertical-align: top;
  }
 .border {
    border: 1px solid #D6DFE0;
}
.phx-icon {
    text-align: center;
}
.phx-icon-admin-locked {
    background-color: #2e2e2f;
    color: aliceblue;
    text-align: center;
    border-radius: 5px;
}
.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}