<!-- <div class="wrapper1">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Payment</legend>
        <div class="formData">
            <form [formGroup]="paymentForm" (ngSubmit)="onpaymentClick($event, paymentForm)">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="date" for="date" cssClass="required">Payment Date</label>
                            <input class="form-control" formControlName="date" readonly />

                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="tAmount" for="tAmount" cssClass="required">Total Amount</label>
                            <input OnlyLetter class="form-control" formControlName="tAmount" />

                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="paidAmount" for="paidAmount" cssClass="required">Paid Amount</label>
                            <input OnlyNumber class="form-control" formControlName="paidAmount" />

                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="outAmount" for="outAmount" cssClass="required">Outstanding Amount</label>
                            <input OnlyNumber class="form-control" formControlName="outAmount" />

                        </div>
                    </div>


                </div>

                <div class="row">

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="modeofPay" for="series" cssClass="required" required="true">Mode of Pay</label>
                            <select class="form-control" path="modeofPay" formControlName="modeofPay">
                                <option value="" hidden> - Select Mode - </option>
                                <option value="null"> - Select Mode - </option>
                                <option>NEFT</option>
                                <option>RTGS</option>
                                <option>UPI</option>
                                <option>Cheque</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="chequeNo" for="chequeNo" cssClass="required">Cheque No</label>
                            <input class="form-control" formControlName="chequeNo" />

                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="payIdno" for="payIdno" cssClass="required">Payment Reference ID No</label>
                            <input class="form-control" formControlName="payIdno" />

                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="status" for="status" cssClass="required">Status</label>
                            <input class="form-control" formControlName="status" />

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="dueDate" for="dueDate" cssClass="required">Next Due Date</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="dueDate" yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon">
                                </p-calendar>
                                <div *ngIf="submitted && f.dueDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.dueDate.errors.required">Please Select the Date</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary submit">Submit</button>
                            <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div> -->
<div class="scrollbar">
    <fieldset class="scheduler-border">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 150px;" (click)="onViewClick()">
                        <i class="fa fa-eye" aria-hidden="true"></i> View
                    </button>
                    <button type="button" class="btn btn-primary submit" style="margin-right: 40px;" (click)="onGeneratePdfReport()">
                        Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        Export Excel
                    </button>
                </div>
            </div>
        </div>
        <legend class="scheduler-border">Payment</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" [getRowStyle]="getRowStyle" (rowClicked)="rowClicked($event)" style="width: 100%; height: 350px;" [pagination]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>