<div class="wrapper1">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Part Master Details</legend>
        <div class="formData">
            <form [formGroup]="PartForm" (ngSubmit)="onPartClick($event, PartForm)">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="partno" for="series" cssClass="required" required="true">Part Number</label>
                            <input class="form-control" name="partno" formControlName="partno" [ngClass]="{'is-invalid': submitted && f.partno.errors }" readonly/>
                            <div *ngIf="submitted && f.partno.errors" class="invalid-feedback">
                                <div *ngIf="f.partno.errors.required">
                                    Part Number is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="partname" for="series" cssClass="required" required="true">Part Name</label>
                            <input OnlyLetter class="form-control" name="partname" formControlName="partname" [ngClass]="{
                                'is-invalid': submitted && f.partname.errors
                            }" />
                            <div *ngIf="submitted && f.partname.errors" class="invalid-feedback">
                                <div *ngIf="f.partname.errors.required">
                                    Part Name is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="splan" for="series" cssClass="required" required="true">Sampling Plan</label>
                            <input class="form-control" name="splan" formControlName="splan" [ngClass]="{
                                'is-invalid': submitted && f.splan.errors
                            }" />
                            <div *ngIf="submitted && f.splan.errors" class="invalid-feedback">
                                <div *ngIf="f.splan.errors.required">
                                    Sampling Plan is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="descrip" for="series" cssClass="required" required="true">Item Description</label>
                            <input class="form-control" formControlName="descrip" [ngClass]="{
                                'is-invalid': submitted && f.descrip.errors
                            }" />

                            <div *ngIf="submitted && f.descrip.errors" class="invalid-feedback">
                                <div *ngIf="f.descrip.errors.required">
                                    Item Description is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="hidden" class="form-control" path="slNo" />
                                <label path="uom" for="uom" cssClass="required">UOM</label>
                                <select type="uom" class="form-control" path="uom" formControlName="uom" [ngClass]="{'is-invalid': submitted && f.uom.errors}">
                                    <option value="" hidden> - Select the Uom- </option>
                                    <option value="null"> - Select the Uom - </option>
                                    <option >Kgs</option>
                                    <option >Ltrs</option>
                                    <option>No's</option>
                                    <option>Mtrs</option>
                                    <option>Box</option>
                                </select>
                                <div *ngIf="submitted && f.uom.errors" class="invalid-feedback">
                                    <div *ngIf="f.uom.errors.required">
                                        uom Description is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="qunty" for="series" cssClass="required" required="true">Quantity</label>
                            <input OnlyNumber class="form-control" formControlName="qunty" [ngClass]="{
                                'is-invalid': submitted && f.qunty.errors
                            }" />

                            <div *ngIf="submitted && f.qunty.errors" class="invalid-feedback">
                                <div *ngIf="f.qunty.errors.required">
                                    Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="gst" for="series" cssClass="required" required="true">GST</label>
                            <input OnlyNumber class="form-control" formControlName="gst" [ngClass]="{
                                'is-invalid': submitted && f.gst.errors
                            }" />

                            <div *ngIf="submitted && f.gst.errors" class="invalid-feedback">
                                <div *ngIf="f.gst.errors.required">
                                    gst is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="unitamount" for="series" cssClass="required" required="true">Unit Rate</label>
                            <input OnlyNumber class="form-control" formControlName="unitamount" [ngClass]="{
                                'is-invalid': submitted && f.unitamount.errors
                            }" />

                            <div *ngIf="submitted && f.unitamount.errors" class="invalid-feedback">
                                <div *ngIf="f.unitamount.errors.required">
                                    unitamount is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="hsn" for="series" cssClass="required" required="true">HSN/SAC</label>
                            <input OnlyNumber class="form-control" formControlName="hsn" [ngClass]="{
                                'is-invalid': submitted && f.hsn.errors
                            }" />

                            <div *ngIf="submitted && f.hsn.errors" class="invalid-feedback">
                                <div *ngIf="f.hsn.errors.required">
                                    HSN/SAC is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="location" for="location" cssClass="required">Location</label>
                            <select type="location" class="form-control" path="location" formControlName="location" [ngClass]="{'is-invalid': submitted && f.uom.errors}">
                                <option value="" hidden> - Select the location- </option>
                                <option value="null"> - Select the location - </option>
                                <option >P 1A </option>
                                <option >P 1B</option>
                                <option>P 1C</option>
                                <option>P 1D</option>
                                <option>P 1E</option>
                            </select>
                            <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                                <div *ngIf="f.location.errors.required">
                                    Location is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="mslevel" for="mslevel" cssClass="required">M.S.Level</label>
                            <input OnlyNumber type="text" class="form-control" path="mslevel" formControlName="mslevel">
                            <div *ngIf="submitted && f.mslevel.errors" class="invalid-feedback">
                                <div *ngIf="f.mslevel.errors.required">
                                    M.S.Level is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="orderlevel" for="orderlevel" cssClass="required">Re-Oreder Level</label>
                            <input OnlyNumber type="text" class="form-control" path="orderlevel" formControlName="orderlevel" />
                            <div *ngIf="submitted && f.orderlevel.errors" class="invalid-feedback">
                                <div *ngIf="f.orderlevel.errors.required">
                                    Re-Oreder Level is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="leadtime" for="leadtime" cssClass="required">Lead Time</label>
                            <input type="text" class="form-control" path="leadtime" formControlName="leadtime">
                            <div *ngIf="submitted && f.leadtime.errors" class="invalid-feedback">
                                <div *ngIf="f.leadtime.errors.required">
                                    Lead Time is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" style="left: 68%;" (click)="onAddbuttonClick(addpopup)">Add Specification</button>
                            <button type="submit" class="btn btn-primary submit">
                                Submit
                            </button>
                            <button type="button" class="btn btn-warning reset" (click)="onReset()">
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>


<fieldset class="scheduler-border">

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary submit" style="margin-right: 150px;" (click)="onViewClick()">
                    <i class="fa fa-eye" aria-hidden="true"></i> View
                </button>
                <button type="button" class="btn btn-primary submit" style="margin-right: 40px;" (click)="onGeneratePdfReport()">
                    Export Pdf
                </button>
                <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                    Export Excel
                </button>
            </div>
        </div>
    </div>

    <legend class="scheduler-border">List Of Products</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px" [pagination]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>