.b1{
    border: 1px outset #1C4365;
    background-color: #1C4365;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 9px 18px 9px 18px;
    width: 90%;
 }

 .b2{
    /* border: 1px outset #fff; */
    /* background-color: #1C4365; */
    color:#1C4365;
    font-size: 15px;
    font-weight: 600;
    padding: 9px 25px 9px 25px;
    width: 120%;
 }

 ::ng-deep .my-class .modal-dialog { 
    max-width: 90%;
    width: 90%;
}