<div class="wrapper1">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Production Log</legend>
        <div class="formData">
            <form [formGroup]="slaesInvocieForm" (ngSubmit)="onPurchaseOrderClick($event, slaesInvocieForm)">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <div class="p-fluid p-grid p-formgrid">
                                <div class="p-field p-col-12 p-md-5">
                                    <label path="date" for="date" cssClass="required">Date</label>
                                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="date"
                                       yearRange="2000:2030"
                                        inputId="navigators" [showIcon]="true" inputId="icon">
                                    </p-calendar>
                                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                        <div *ngIf="f.date.errors.required">
                                            Date is Required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <label path="pono" for="series" cssClass="required" required="true">PO NO</label>
                            <input class="form-control" formControlName="pono" readonly />
                        </div>
                    </div>
                 

                </div>

                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Man
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Operation
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                       
                            <div class="form-group">
                                <label path="cusdetails" for="series" cssClass="required" required="true">Quantity
                                    </label>
                                <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                    'is-invalid': submitted && f.cusdetails.errors
                                }" />
                                <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                    <div *ngIf="f.cusdetails.errors.required">
                                      Quantity is Required
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Sr Tm
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Ed TM
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Produced Qty
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Accepted Qty
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Missed Qty
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Effectiveness
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="pono" for="series" cssClass="required" required="true">Verified By</label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Effectiveness
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                  

                </div>



                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Man
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Operation
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                      
                            <div class="form-group">
                                <label path="cusdetails" for="series" cssClass="required" required="true">Quantity
                                    </label>
                                <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                    'is-invalid': submitted && f.cusdetails.errors
                                }" />
                                <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                    <div *ngIf="f.cusdetails.errors.required">
                                      Quantity is Required
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Sr Tm
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Ed TM
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Produced Qty
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Accepted Qty
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Missed Qty
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Effectiveness
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="pono" for="series" cssClass="required" required="true">Verified By</label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <div class="form-group">
                            <label path="cusdetails" for="series" cssClass="required" required="true">Effectiveness
                                </label>
                            <input class="form-control" name="cusdetails" formControlName="cusdetails" [ngClass]="{
                                'is-invalid': submitted && f.cusdetails.errors
                            }" />
                            <div *ngIf="submitted && f.cusdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.cusdetails.errors.required">
                                  Quantity is Required
                                </div>
                            </div>
                        </div>
                    </div>
                  

                </div>
       


                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary submit">
                                Submit
                            </button>
                            <button type="button" class="btn btn-warning reset" (click)="onReset()">
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>


<fieldset class="scheduler-border">

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary submit" style="margin-right: 150px;"
                    (click)="onViewClick()">
                    <i class="fa fa-eye" aria-hidden="true"></i> View
                </button>
                <button type="button" class="btn btn-primary submit" style="margin-right: 40px;"
                    (click)="onGeneratePdfReport()">
                    Export Pdf
                </button>
                <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                    Export Excel
                </button>
            </div>
        </div>
    </div>

    <legend class="scheduler-border">List Of Prod Plan</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px"
        [pagination]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>

