<div class="container-fluid" style="height:100%;">
    <div class="loginWrapper col-lg-12">
        <div class="loginContainer">
            <div class="positionCenter ">
                <!-- <div class="col-md-3 col-lg-3 col-sm-3 register-left">
                   
                </div> -->
                <div class="col-xs-12 col-sm-5 col-md-5 form-icon register-left" style="margin-top: 4%;">

                    <a href="https://trimsolutions.in/" target="_blank"> <img class="rocket brightness " style=" margin-top: 60px;" src="../../assets/images/Rocket_image.png" alt="" /> </a>
                    <img style="margin-left:30px; margin-top: 30px;" src="../../assets/images/pictures-for-benifits-_1_.png" width="150px" height="150px" />
                    <H4 style="margin-left:170px;color:brown"><a style="color:brown;" href="https://srinivasenterprises.com/" target="_blank"> SRINIVAS ENTERPRISES</a></H4>

                </div>
                <div class="upsign" style="margin-bottom:10px;">
                    <span class="signup"><a (click)="onRegistrationClick()">Don't have account? Register</a></span><br>

                </div>

                <!-- ------------------------- -->
                <form [formGroup]="loginForm" (ngSubmit)="onLogInClick($event, loginForm)">
                    <div class="textType col-xs-12 col-sm-7 col-md-7">
                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <h3 class="title active ">SIGN IN</h3>
                            <div class="border-bottom"></div>
                        </div>
                        <div class="pull-left login-data col-lg-12 ">
                            <div class="col-lg-12 col-md-12 col-xs-3 col-sm-3">
                                <div class="form-group ">
                                    <span class="input-icon"><i class="fa fa-user"></i></span>
                                    <input class="form-control" type="username" placeholder="Enter Name" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                                </div>
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">User Name is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left login-data col-lg-12">
                            <div class="col-lg-12 col-md-12 col-xs-3 col-sm-3">
                                <div class="form-group ">
                                    <span class="input-icon"><i class="fa fa-lock"></i></span>
                                    <input class="form-control" name="password" type="password" placeholder="Password" id="password" #password1 formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div class="input-icon" (click)="changeType(password1, 1)">
                                        <span class="input-icon">
                                            <i [ngClass]="toggle1 ? 'far fa-eye-slash' : 'far fa-eye'"></i></span>
                                    </div>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left login-data col-lg-12 ">
                            <div class="col-lg-12 col-md-12 col-xs-3 col-sm-3">
                                <div class="form-group ">
                                    <select formControlName="unitslNo" class="select form-control-arrow form-control" name="unitslNo" id="unitslNo" [ngClass]="{ 'is-invalid': submitted && f.unitslNo.errors }">
                                        <option value="null"> - Select Unit - </option>
                                        <option *ngFor="let activeUnit of activeUnits" [value]="activeUnit.slNo">
                                            {{activeUnit.unitName}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="submitted && f.unitslNo.errors" class="invalid-feedback">
                                    <div *ngIf="f.unitslNo.errors.required">Unit is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left login-data col-lg-12 ">
                            <div class="col-lg-12 col-md-12 col-xs-3 col-sm-3">
                                <div class="form-group ">
                                    <select class="select form-control-arrow form-control" formControlName="dpslno" required [ngClass]="{ 'is-invalid': submitted && f.dpslno.errors }">
                                        <option [value]=null> Select Department </option>
                                        <option *ngFor="let department of departments" [value]="department.departslNo">
                                            {{department.departslNo2?.department}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="submitted && f.dpslno.errors" class="invalid-feedback">
                                    <div *ngIf="f.dpslno.errors.required">Department is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pull-left login-data col-lg-12 ">
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6"></div>

                            <div class="submit col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <button type="submit" class="btn btn-default signin" style="cursor: pointer;">Login</button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="forgot-pass"><a href="#">Forgot Username/Password?</a></span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: -48px;">
                            <h4 style="margin-top: 27px;margin-left: 17px;">Powered by<a href="https://trimsolutions.in/" target="_blank">   TRIM SOLUTIONS</a></h4>
                        </div>

                    </div>


                </form>
                <!-- -------------------------------------- -->

            </div>

        </div>

    </div>

</div>