<div class="wrapper1">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">List Of Purchaseable</legend>
        <div class="formData">
            <form [formGroup]="PurchaseableForm" (ngSubmit)="onPurchaseableClick($event, PurchaseableForm)">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <input type="hidden" class="form-control" path="slNo" />
                            <label path="purscode" for="series" cssClass="required" required="true">Purchaseable Code</label>
                            <input class="form-control" formControlName="purscode" [ngClass]="{
                                'is-invalid': submitted && f.purscode.errors
                            }" />
                            <div *ngIf="submitted && f.purscode.errors" class="invalid-feedback">
                                <div *ngIf="f.purscode.errors.required">
                                    Purchaseable Code is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <label path="pursname" for="series" cssClass="required" required="true">Purchaseable Name</label>
                            <input OnlyLetter class="form-control" formControlName="pursname" [ngClass]="{
                                'is-invalid': submitted && f.pursname.errors
                            }" />

                            <div *ngIf="submitted && f.pursname.errors" class="invalid-feedback">
                                <div *ngIf="f.pursname.errors.required">
                                    Purchaseable Name is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <label path="descrip" for="series" cssClass="required" required="true">Description</label>
                            <input OnlyLetter class="form-control" formControlName="descrip" [ngClass]="{
                                'is-invalid': submitted && f.descrip.errors
                            }" />

                            <div *ngIf="submitted && f.descrip.errors" class="invalid-feedback">
                                <div *ngIf="f.descrip.errors.required">
                                    Description is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary submit">
                                Submit
                            </button>
                            <button type="button" class="btn btn-warning reset" (click)="onReset()">
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>





<fieldset class="scheduler-border">

    <!-- <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary submit" style="margin-right: 150px;"
                    (click)="onViewClick()">
                    <i class="fa fa-eye" aria-hidden="true"></i> View
                </button>
                <button type="button" class="btn btn-primary submit" style="margin-right: 40px;"
                    (click)="onGeneratePdfReport()">
                    Export Pdf
                </button>
                <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                    Export Excel
                </button>
            </div>
        </div>
    </div> -->
    <legend class="scheduler-border">List Of Purchaseable</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px" [pagination]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>