<div class="wrapper1">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Material Inward Record</legend>
        <div class="formData">
            <form [formGroup]="materialInwardForm" (ngSubmit)="onMaterialInwardClick($event, materialInwardForm)">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <div class="p-fluid p-grid p-formgrid">
                                <div class="p-field p-col-12 p-md-5">
                                    <label path="date" for="date" cssClass="required">Date</label>
                                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="date" [minDate]="minDate" [maxDate]="maxDate" yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon">
                                    </p-calendar>
                                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                        <div *ngIf="f.date.errors.required">
                                            Date is Required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label path="dcNo" for="dcNo" cssClass="required">D.C No</label>
                                <input type="text" class="form-control" path="dcNo" formControlName="dcNo"  (click)='onDcClick()'/>
                                <div *ngIf="submitted && f.dcNo.errors" class="invalid-feedback">
                                    <div *ngIf="f.dcNo.errors.required">
                                        D.C No is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label path="invoiceno" for="invoiceno" cssClass="required">Invoice No</label>
                                <input type="text" class="form-control" path="invoiceno" formControlName="invoiceno" (click)='onInvoiceClick()'/>
                                <div *ngIf="submitted && f.invoiceno.errors" class="invalid-feedback">
                                    <div *ngIf="f.invoiceno.errors.required">
                                        Invoice No is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <div class="p-fluid p-grid p-formgrid">
                                <div class="p-field p-col-12 p-md-5">
                                    <label path="dcDate" for="dcDate" cssClass="required">D.C Date</label>
                                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="dcDate" [minDate]="minDate" [maxDate]="maxDate" yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon">
                                    </p-calendar>
                                    <div *ngIf="submitted && f.dcDate.errors" class="invalid-feedback">
                                        <div *ngIf="f.dcDate.errors.required">
                                            D.C Date is Required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label path="purchseSlno" for="purchseSlno" cssClass="required">P.O No.</label>
                                <select class="form-control" path="purchseSlno" formControlName="purchseSlno" (change)="onChangePONumber($event)">
                                    <option value=""> -Select P.O No- </option>
                                    <option *ngFor="let purOrdersNumber of purOrdersNumbers" [value]="purOrdersNumber.slNo">
                                        {{purOrdersNumber.pono}} </option>
                                </select>
                                <div *ngIf="submitted && f.purchseSlno.errors" class="invalid-feedback">
                                    <div *ngIf="f.purchseSlno.errors.required">
                                        P.O No. is Required
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="supliername" for="supliername" cssClass="required">Supplier Name</label>
                            <input type="text" class="form-control" path="supliername" formControlName="supliername" readonly/>
                            <!-- <select class="form-control" path="supliername" formControlName="supliername" readonly>
                                <option *ngFor="let purOrdersNumber of purOrdersNumbers" [value]="purOrdersNumber.slNo">
                                    {{purOrdersNumber.suplierName}} </option>
                            </select> -->
                            <!-- <input type="text" class="form-control" path="pono" formControlName="supliername" readonly/> -->
                            <!-- <div *ngIf="submitted && f.supliername.errors" class="invalid-feedback">
                                <div *ngIf="f.supliername.errors.required">Supplier Name is Required</div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label path="grn" for="grn" cssClass="required">Goods Received No</label>
                                <input type="text" class="form-control" path="grn" formControlName="grn" readonly/>
                                <!-- <div *ngIf="submitted && f.grm.errors" class="invalid-feedback">
                                    <div *ngIf="f.grm.errors.required">
                                        GRN is Required
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label path="vehicleno" for="vehicleno" cssClass="required">Vehicle No</label>
                                <input type="text" class="form-control" path="vehicleno" formControlName="vehicleno" />
                                <div *ngIf="submitted && f.vehicleno.errors" class="invalid-feedback">
                                    <div *ngIf="f.vehicleno.errors.required">
                                        Vehicle No is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label path="drivername" for="drivername" cssClass="required">Driver Name</label>
                                <input OnlyLetter type="text" class="form-control" path="drivername" formControlName="drivername" />
                                <div *ngIf="submitted && f.drivername.errors" class="invalid-feedback">
                                    <div *ngIf="f.drivername.errors.required">
                                        Driver Name is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label path="driverno" for="driverno" cssClass="required">Driver Contact No</label>
                                <input OnlyNumber type="text" class="form-control" path="driverno"
                                    formControlName="driverno" maxlength="10" />
                                <div *ngIf="submitted && f.driverno.errors" class="invalid-feedback">
                                    <div *ngIf="f.driverno.errors.required"> Contact No is Required</div>
                                    <div *ngIf="f.driverno.errors.minlength">Contact Number is invalid</div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label path="remark" for="remark" cssClass="required">Remarks</label>
                                <input type="text" class="form-control" path="remark" formControlName="remark" />
                                <div *ngIf="submitted && f.remark.errors" class="invalid-feedback">
                                    <div *ngIf="f.remark.errors.required">
                                        Remarks is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary " style="right: 20%;" (click)="onStatusClick()">Requst For Approval</button>
                            <button type="button" class="btn btn-primary" style="left: 50%;" (click)="onAddbuttonClick($event)">Add items</button>
                            <!-- <button type="submit" class="btn btn-primary " style="right: 10%;" (click)="onStatusClick()">Request for Inspection</button>
                            <button type="button" class="btn btn-primary" style="left: 40%;"  (click)="onAddbuttonClick($event)">Add Item</button> -->
                            <button type="submit" class="btn btn-primary submit">Submit</button>
                            <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>
<div class="scrollbar">
    <fieldset class="scheduler-border">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 150px;" (click)="onViewClick()">
                        <i class="fa fa-eye" aria-hidden="true"></i> View
                    </button>
                    <button type="button" class="btn btn-primary submit" style="margin-right: 40px;" (click)="onGeneratePdfReport()">
                        Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        Export Excel
                    </button>
                </div>
            </div>
        </div>


        <legend class="scheduler-border">Material Inward Record</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" [getRowStyle]="getRowStyle" (rowClicked)="rowClicked($event)" style="width: 100%; height: 350px;" [pagination]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>