<div  *ngIf="user?.dpslno2?.department == 'Top Management' || user?.dpslno2?.department == 'Store' ">
    <div class="box">
        <div class="card1">
            <div class="col-xl-3 col-sm-3">
                <div class="card l-bg-cherry">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fa fa-cogs"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">RAW MATERIAL STOCK
                            </h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <span style="margin-right:25px">  Total: </span>
                                <!-- <h2 class="d-flex align-items-center mb-0">
                                    555K
                                </h2> -->
                            </div>
                            <div class="col-4 text-right">
                                <span style="margin-right:35px">In Progress:  <i class="fa fa-arrow-up"></i></span>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height:12px;">
                            <p-progressBar  [value]="" style="margin-right:15px"></p-progressBar> <span></span> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-3">
                <div class="card l-bg-cherry">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fa fa-cogs"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">MINIMUM STOCK LEVEL
                            </h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <span style="margin-right:25px">  Total: </span>
                                <!-- <h2 class="d-flex align-items-center mb-0">
                                    555K
                                </h2> -->
                            </div>
                            <div class="col-4 text-right">
                                <span style="margin-right:35px">In Progress:  <i class="fa fa-arrow-up"></i></span>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height:12px;">
                            <p-progressBar  [value]="" style="margin-right:15px"></p-progressBar> <span></span> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-3">
                <div class="card l-bg-cherry">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fa fa-cogs"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">MATERIAL MOMENTS
                            </h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <span style="margin-right:25px">  Total: </span>
                                <!-- <h2 class="d-flex align-items-center mb-0">
                                    555K
                                </h2> -->
                            </div>
                            <div class="col-4 text-right">
                                <span style="margin-right:35px">In Progress:  <i class="fa fa-arrow-up"></i></span>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height:12px;">
                            <p-progressBar  [value]="" style="margin-right:15px"></p-progressBar> <span></span> 
                        </div>
                    </div>
                </div>
            </div>
         
         
        </div>
    </div>
</div>
    

