<div class="manu-breadcrumb">
    <app-breadcrumb></app-breadcrumb>
    <nav mat-tab-nav-bar>
        <!-- <a mat-tab-link routerLink="./app-quality-checking" routerLinkActive #SalesinvoiceTab="routerLinkActive"
            [active]="SalesinvoiceTab.isActive">Quality Checking Request</a> -->
            <a mat-tab-link routerLink="./app-quality-checking" routerLinkActive #materialInwardTab="routerLinkActive" [active]="materialInwardTab.isActive">Material Inward Record</a>
        </nav>
</div>

<router-outlet></router-outlet>