<div class="wrapper1">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">List Of FirstAid Box </legend>
        <div class="formData">
            <form [formGroup]="listOfEmployeForm" (ngSubmit)="onEmployesClick($event, listOfEmployeForm)">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <input type="hidden" class="form-control" path="slNo" />
                            <label path="faNo" for="series" cssClass="required" required="true">FirstAid Box No</label>
                            <input class="form-control" name="faNo" formControlName="faNo" [ngClass]="{
                                'is-invalid': submitted && f.faNo.errors
                            }" />
                            <div *ngIf="submitted && f.faNo.errors" class="invalid-feedback">
                                <div *ngIf="f.faNo.errors.required">
                                    FirstAid Box No is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary submit">
                                Submit
                            </button>
                            <button type="button" class="btn btn-warning reset" (click)="onReset()">
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>



<fieldset class="scheduler-border">

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary submit" style="margin-right: 150px;"
                    (click)="onViewClick()">
                    <i class="fa fa-eye" aria-hidden="true"></i> View
                </button>
                <button type="button" class="btn btn-primary submit" style="margin-right: 40px;"
                    (click)="onGeneratePdfReport()">
                    Export Pdf
                </button>
                <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                    Export Excel
                </button>
            </div>
        </div>
    </div>
    <legend class="scheduler-border">List Of EmployeeFecilty</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px" [pagination]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>