<fieldset class="scheduler-border">
    <legend class="scheduler-border">Supplier Registration Form</legend>
    <div class="formData">
        <form [formGroup]="SupplierRegForm" (ngSubmit)="onSupplierRegClick($event, SupplierRegForm)">
            <div class="row">
                <div class="col-xs-1 col-sm-1"></div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="supplierCode" for="series" cssClass="required" required="true">Supplier Code</label>
                                <input class="form-control" formControlName="supplierCode" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="date" for="date" cssClass="required"> Supplier Name</label>
                                <input OnlyLetter type="text" class="form-control" path="supplierName" formControlName="supplierName" />
                                <div *ngIf="submitted && f.supplierName.errors" class="invalid-feedback">
                                    <div *ngIf="f.supplierName.errors.required">Supplier Name is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="address" for="address" cssClass="required">Address</label>
                        <textarea class="form-control" rows="1" cols="1" path="address" formControlName="address">
                        </textarea>
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">
                                Address Details Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-xs-1 col-sm-1"></div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="contact" for="contact" cssClass="required">Contact Details</label>
                        <input type="text" class="form-control" path="contact" formControlName="contact" />
                        <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                            <div *ngIf="f.contact.errors.required">
                                Contact Cause Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="gstin" for="gstin" cssClass="required">GSTIN</label>
                        <input type="text" class="form-control" path="gstin" formControlName="gstin" />
                        <div *ngIf="submitted && f.gstin.errors" class="invalid-feedback">
                            <div *ngIf="f.gstin.errors.required">
                                GSTIN Action is Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="certification" for="certification" cssClass="required">If any
                            Certifications</label>
                        <input OnlyLetter type="text" class="form-control" path="certification" formControlName="certification" />
                        <div *ngIf="submitted && f.certification.errors" class="invalid-feedback">
                            <div *ngIf="f.certification.errors.required">
                                Any Certification is Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-xs-1 col-sm-1"></div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="nature" for="nature" cssClass="required">Nature of Supplier</label>
                        <select class="form-control" path="nature" formControlName="nature">
                            <option value="" hidden> - Nature of Supplier - </option>
                            <option value="null"> - Nature of Supplier - </option>
                            <option> Manufacturer </option>
                            <option> Authorized Dealer </option>
                            <option> Distributor </option>
                            <option> Stockist </option>
                            <option> Out source Supplier </option>
                        </select>
                        <div *ngIf="submitted && f.nature.errors" class="invalid-feedback">
                            <div *ngIf="f.nature.errors.required">
                                Nature of Supplier is Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="productDesc" for="productDesc" cssClass="required">Product Description</label>
                        <input type="text" class="form-control" path="productDesc" formControlName="productDesc" />
                        <div *ngIf="submitted && f.productDesc.errors" class="invalid-feedback">
                            <div *ngIf="f.productDesc.errors.required">
                                Product Description is Required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="reputedCust" for="reputedCust" cssClass="required">Details of Present Reputed
                            Customers</label>
                        <input OnlyLetter class="form-control" path="reputedCust" formControlName="reputedCust" />
                        <div *ngIf="submitted && f.reputedCust.errors" class="invalid-feedback">
                            <div *ngIf="f.reputedCust.errors.required">
                                Details of Present Reputed is Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-1"></div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="concern" for="concern" cssClass="required">Sister Concerns if Any </label>
                        <input OnlyLetter type="text" class="form-control" path="concern" formControlName="concern" />
                        <div *ngIf="submitted && f.concern.errors" class="invalid-feedback">
                            <div *ngIf="f.concern.errors.required">
                                Sister Concerns if Any is Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="otherInfo" for="otherInfo" cssClass="required">Other Informations</label>
                        <input OnlyLetter type="text" class="form-control" path="otherInfo" formControlName="otherInfo" />
                        <div *ngIf="submitted && f.otherInfo.errors" class="invalid-feedback">
                            <div *ngIf="f.otherInfo.errors.required">
                                Other Informations Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="website" for="website" cssClass="required">Web Site</label>
                        <input OnlyLetter type="text" class="form-control" path="website" formControlName="website" />
                        <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
                            <div *ngIf="f.website.errors.required">
                                Web Site Informations Required
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1 col-sm-1"></div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="supcategory" for="supcategory" cssClass="required">Select Category</label>
                        <select class="form-control" path="supcategory" formControlName="supcategory">
                            <option value="null"> -Select item Code- </option>
                            <option *ngFor="let suppliertypeItem of suppliertypeItems" [value]="suppliertypeItem.name">
                              {{suppliertypeItem.name}} </option>
                        </select>
                    </div>
                </div>
                <!-- <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="supcategory" for="supcategory" cssClass="required">Supplier Category</label>
                        <select class="form-control" path="supcategory" formControlName="supcategory">
                            <option value="" hidden> - Supplier Category - </option>
                            <option value="null"> - Supplier Category - </option>
                            <option> Raw Material </option>
                            <option> Consumable Item </option>
                            <option> Child Part </option>
                            <option> Part </option>
                        </select>
                        <div *ngIf="submitted && f.supcategory.errors" class="invalid-feedback">
                            <div *ngIf="f.supcategory.errors.required">
                                Supplier Category is Required
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <br>
            <div class="row">
                <div class="col-xs-1 col-sm-1"></div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="acName" for="acName" cssClass="required">Account Name </label>
                        <input OnlyLetter type="text" class="form-control" path="acName" formControlName="acName" />
                        <div *ngIf="submitted && f.acName.errors" class="invalid-feedback">
                            <div *ngIf="f.acName.errors.required">
                                A/C Name is Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="bankName" for="bankName" cssClass="required">Bank Name</label>
                        <input OnlyLetter type="text" class="form-control" path="bankName" formControlName="bankName" />
                        <div *ngIf="submitted && f.bankName.errors" class="invalid-feedback">
                            <div *ngIf="f.bankName.errors.required">
                                Bank Name is Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="branch" for="branch" cssClass="required">Branch Name</label>
                        <input OnlyLetter type="text" class="form-control" path="branch" formControlName="branch" />
                        <div *ngIf="submitted && f.branch.errors" class="invalid-feedback">
                            <div *ngIf="f.branch.errors.required">
                                Branch Name is Required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-1"></div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="acNo" for="acNo" cssClass="required">Account Number </label>
                        <input type="text" class="form-control" path="acNo" formControlName="acNo" />
                        <div *ngIf="submitted && f.acNo.errors" class="invalid-feedback">
                            <div *ngIf="f.acNo.errors.required">
                                A/C Number is Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ifscCode" for="ifscCode" cssClass="required">IFSC Code</label>
                        <input type="text" class="form-control" path="ifscCode" formControlName="ifscCode" />
                        <div *ngIf="submitted && f.ifscCode.errors" class="invalid-feedback">
                            <div *ngIf="f.ifscCode.errors.required">
                                ifsc Code is Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label>QR Code Upload:</label>
                        <input type="file" class="form-control" formControlName="filename" (change)="onFileSelected($event)" />
                        <div *ngIf="submitted && f.filename.errors" class="invalid-feedback">
                            <div *ngIf="f.filename.errors.required">
                                QR Code Upload is Required
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 ">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" style="left: 50%;" (click)="onAddbuttonClick(addPopup)">Add Contact Details</button>
                        <button type="submit" class="btn btn-primary submit">Approve</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <fieldset class="scheduler-border">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 150px;" (click)="onViewClick()">
                        <i class="fa fa-eye" aria-hidden="true"></i> View
                    </button>
                    <button type="button" class="btn btn-primary submit" style="margin-right: 40px;" (click)="onGeneratePdfReport()">
                        Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        Export Excel
                    </button>
                </div>
            </div>
        </div>


        <legend class="scheduler-border">Supplier Registration Form</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [pagination]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>