<fieldset class="scheduler-border">
    <legend class="scheduler-border">Customer PO Form</legend>
    <div class="formData">
        <form [formGroup]="customerPOForm" (ngSubmit)="onCustomerPOClick($event, customerPOForm)">
            <div class="row">
                <!-- <div class="col-xs-1 col-sm-1"></div> -->
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="custemercode" for="custemercode" cssClass="required"> Custemer Code</label>
                                <!-- <input type="text" class="form-control" path="custemercode" formControlName="custemercode" /> -->
                                <select class="form-control" path="custemercode" formControlName="custemercode" (change)="onChangePO($event)" [ngClass]="{'is-invalid': submitted && f.custemercode.errors}">
                                    <option value="" hidden> - Select item Code- </option>
                                    <option value="null"> -Select item Code- </option>
                                    <option *ngFor="let custmerReg of custmerRegs" [value]="custmerReg.slNo">
                                        {{custmerReg.custemercode}} </option>
                                </select>
                                <div *ngIf="submitted && f.custemercode.errors" class="invalid-feedback">
                                    <div *ngIf="f.custemercode.errors.required">Customer Code is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="custemername" for="custemername" cssClass="required"> CustemerName</label>
                                <input type="text" class="form-control" path="custemername" formControlName="custemername" readonly [ngClass]="{'is-invalid': submitted && f.custemername.errors}" />
                                <div *ngIf="submitted && f.custemername.errors" class="invalid-feedback">
                                    <div *ngIf="f.custemername.errors.required">Custemer Name is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="custemerPONo" for="custemerPONo" cssClass="required"> Custemer PO No.</label>
                                <input type="text" class="form-control" path="custemerPONo" formControlName="custemerPONo" [ngClass]="{'is-invalid': submitted && f.custemerPONo.errors}" />
                                <div *ngIf="submitted && f.custemerPONo.errors" class="invalid-feedback">
                                    <div *ngIf="f.custemerPONo.errors.required">Custemer PO No. is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="poDate" for="poDate" cssClass="required">PO Date</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="poDate" inputId="navigators" [showIcon]="true" inputId="icon" [ngClass]="{'is-invalid': submitted && f.poDate.errors}">
                                </p-calendar>
                                <div *ngIf="submitted && f.poDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.poDate.errors.required">
                                        PO Date is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- <div class="col-xs-1 col-sm-1"></div> -->
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="deliveryDate" for="deliveryDate" cssClass="required">Delivery Date</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="deliveryDate" inputId="navigators" [showIcon]="true" inputId="icon" [ngClass]="{'is-invalid': submitted && f.deliveryDate.errors}">
                                </p-calendar>
                                <div *ngIf="submitted && f.deliveryDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.deliveryDate.errors.required">
                                        Delivery Date is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="packing" for="packing" cssClass="required">Packing Condition</label>
                                <input type="text" class="form-control" path="packing" formControlName="packing" [ngClass]="{'is-invalid': submitted && f.packing.errors}" />
                                <div *ngIf="submitted && f.packing.errors" class="invalid-feedback">
                                    <div *ngIf="f.packing.errors.required">Packing Condition is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="logistic" for="logistic" cssClass="required">Logistic Condition</label>
                                <input type="text" class="form-control" path="logistic" formControlName="logistic" [ngClass]="{'is-invalid': submitted && f.logistic.errors}" />
                                <div *ngIf="submitted && f.logistic.errors" class="invalid-feedback">
                                    <div *ngIf="f.logistic.errors.required">Logistic Condition is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="inspection" for="inspection" cssClass="required">Inspection Condition</label>
                                <input type="text" class="form-control" path="inspection" formControlName="inspection" [ngClass]="{'is-invalid': submitted && f.inspection.errors}" />
                                <div *ngIf="submitted && f.inspection.errors" class="invalid-feedback">
                                    <div *ngIf="f.inspection.errors.required">Inspection Condition is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-8 "></div>
                <div class="col-sm-4 ">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" (click)="onAddbuttonClick()">Add Parts</button>
                        <button type="submit" class="btn btn-primary submit">Approve</button>
                        <button type="button" class="btn btn-warning reset">Cancel</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</fieldset>

<div class="scrollbar">

    <fieldset class="scheduler-border">


        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 150px;"
                    (click)="onViewClick()">
                        <i class="fa fa-eye" aria-hidden="true"></i> View
                    </button>
                    <button type="button" class="btn btn-primary submit" style="margin-right: 40px;"
                    (click)="onGeneratePdfReport()">
                        Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        Export Excel
                    </button>
                </div>
            </div>
        </div>


        <legend class="scheduler-border">Customer PO Master</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [pagination]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>