<div class="wrapper1">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Legal Documents</legend>
        <form [formGroup]="legalForm" (ngSubmit)="onlegaldocumentclick($event, legalForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <input type="hidden" class="form-control" path="slNo" /> 
                            <label path="cslno" for="cslno" cssClass="required">Compliance Description</label>
                            <select type="cslno" class="form-control" path="cslno" formControlName="cslno" [ngClass]="{'is-invalid': submitted && f.cslno.errors}">
                                <option value="" hidden> - Select the Compliance- </option>
                                <option value="null"> - Select the Compliance - </option>
                                <option *ngFor="let legal001mb of currentlegal001mb" [value]="legal001mb.slNo">
                                    {{legal001mb.dname}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.cslno.errors" class="invalid-feedback">
                                <div *ngIf="f.cslno.errors.required">
                                    Compliance Description is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <input type="hidden" class="form-control" path="slNo" />
                            <label path="cno" for="cno" cssClass="required">Certificate No</label>
                            <input type="text" class="form-control" path="cno" formControlName="cno"[ngClass]="{'is-invalid': submitted && f.cno.errors}" />
                            <div *ngIf="submitted && f.cno.errors" class="invalid-feedback">
                                <div *ngIf="f.cno.errors.required">
                                    Certificate No is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="p-fluid p-grid p-formgrid">
                                <div class="p-field p-col-12 p-md-5">
                                    <label path="date" for="date" cssClass="required">Certificate Validity:</label>&nbsp;
                                    <label path="date" for="date" cssClass="required">From</label>
                                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="date"
                                   yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon">
                                </p-calendar>
                               
                                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                        <div *ngIf="f.date.errors.required">
                                            From Date is Required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="p-fluid p-grid p-formgrid">
                                <div class="p-field p-col-12 p-md-5">
                                    <label path="date1" for="date1" cssClass="required">Certificate Validity:</label>&nbsp;
                                    <label path="date1" for="date1" cssClass="required">To</label>
                                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="date1"
                                   yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon">
                                </p-calendar>
                                    <div *ngIf="submitted && f.date1.errors" class="invalid-feedback">
                                        <div *ngIf="f.date1.errors.required">
                                            To Date is Required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <input type="hidden" class="form-control" path="slNo" /> 
                            <label path="fslno" for="fslno" cssClass="required">File Document</label>
                            <select type="fslno" class="form-control" path="fslno" formControlName="fslno" [ngClass]="{'is-invalid': submitted && f.fslno.errors}">
                                <option value="" hidden> - Select the File Document - </option>
                                <option value="null"> - Select the File Document - </option>
                                <option *ngFor="let file001mb of currentfile001mb" [value]="file001mb.slNo">
                                    {{file001mb.ftype}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.fslno.errors" class="invalid-feedback">
                                <div *ngIf="f.fslno.errors.required">
                                    File Document is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label>File Upload:</label>
                        <input type="file" class="form-control" formControlName="filename" (change)="onFileSelected($event)" />
                        <div *ngIf="submitted && f.cno.errors" class="invalid-feedback">
                            <div *ngIf="f.cno.errors.required">
                                File Upload is Required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset"(click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>
<div class="scrollbar">
    <fieldset class="scheduler-border">

        
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 150px;"
                        (click)="onViewClick()">
                        <i class="fa fa-eye" aria-hidden="true"></i> View
                    </button>
                    <button type="button" class="btn btn-primary submit" style="margin-right: 40px;"
                        (click)="onGeneratePdfReport()">
                        Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        Export Excel
                    </button>
                </div>
            </div>
        </div>






        <legend class="scheduler-border">Legal Documents</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
            [pagination]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>


