<div class="wrapper1">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">List of Tools & Die Root Cause</legend>
        <div class="formData">
            <form [formGroup]="toolsrootCauseSettingForm" (ngSubmit)="onRootCauseClick($event, toolsrootCauseSettingForm)">
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label path="tbrslno" for="tbrslno" cssClass="required">Tools BreakDown Name</label>
                            <select class="form-control" name="fbtbrslnorslno" formControlName="tbrslno" [ngClass]="{'is-invalid': submitted && f.tbrslno.errors}">
                                <option value="" hidden> - Select Tools BreakDown - </option>
                                <option value="null"> - Select Tools BreakDown - </option>
                                <option *ngFor="let ToolsBreakdown001mb of breakdownSettings" [value]="ToolsBreakdown001mb.slNo">
                                    {{ToolsBreakdown001mb.tbname}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.tbrslno.errors" class="invalid-feedback">
                                <div *ngIf="f.tbrslno.errors.required">
                                   Fixture BreakDown Name is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label path="tname" for="tname" cssClass="required">Tools Rootcause Name</label>
                            <input class="form-control" formControlName="tname" [ngClass]="{'is-invalid': submitted && f.tname.errors}">
                            <div *ngIf="submitted && f.tname.errors" class="invalid-feedback">
                                <div *ngIf="f.tname.errors.required">
                                    Tools Rootcause Name is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label path="tdetails" for="tdetails" cssClass="required">Tools Details</label>
                            <input class="form-control" formControlName="tdetails" [ngClass]="{'is-invalid': submitted && f.tdetails.errors}">
                            <div *ngIf="submitted && f.tdetails.errors" class="invalid-feedback">
                                <div *ngIf="f.tdetails.errors.required">
                                    Tools Details is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label path="sslno" for="sslno" cssClass="required">Status</label>
                            <select class="form-control" name="sslno" formControlName="sslno" [ngClass]="{'is-invalid': submitted && f.sslno.errors}">
                                <option value="" hidden> - Select the Tools Status - </option>
                                <option value="null"> - Select the Tools Status - </option>
                                <option *ngFor="let ToolsStatus001mb of statussets" [value]="ToolsStatus001mb.slNo">
                                    {{ToolsStatus001mb.name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.sslno.errors" class="invalid-feedback">
                                <div *ngIf="f.sslno.errors.required">
                                    Status is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary submit">
                                Submit
                            </button>
                            <button type="button" class="btn btn-warning reset " (click)="onReset()">
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>

<fieldset class="scheduler-border">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary submit" style="margin-right: 150px;"
                    (click)="onViewClick()">
                    <i class="fa fa-eye" aria-hidden="true"></i> View
                </button>
                <button type="button" class="btn btn-primary submit" style="margin-right: 40px;"
                    (click)="onGeneratePdfReport()">
                    Export Pdf
                </button>
                <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                    Export Excel
                </button>
            </div>
        </div>
    </div>
    <legend class="scheduler-border">List of Tools & Die Root Cause</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px" [pagination]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>
