<div class="card">
    <span class="profit">Sales Growth</span>
    <ngx-charts-bubble-chart [view]="[350, 260]" [results]="bubbleData" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [yScaleMin]="yScaleMin"
        [legendPosition]="legendPosition" [yScaleMax]="yScaleMax" [minRadius]="minRadius" [maxRadius]="maxRadius" (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-bubble-chart>

</div>