




<div class="card">
    <h4 style="color:chocolate; font-weight: 700;margin-bottom: 0px;">SRINIVAS ENTERPRICE</h4>
    <h3 style="color:chocolate; font-weight: 700;">BREAKEDOWN HOURS TREND CHART - 20 - 21</h3>
    <table>
        <tr>
            <td>APR'20</td>
            <td>MAY'20</td>
            <td>JUN'20</td>
            <td>JUL'20</td>
            <td>AUG'20</td>
            <td>SEP'20</td>
        </tr>
        <tr>

            <td>10</td>
            <td>20</td>
            <td>60</td>
            <td>40</td>
            <td>50</td>
            <td>30</td>
        </tr>

    </table>


    <span class="amount">BREAKEDOWN HRS</span>
    <ngx-charts-bar-vertical-stacked [view]="[800, 400]" [results]="multi" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [animations]="animations" [legendPosition]="legendPosition"
        (select)="onSelect($event)">
    </ngx-charts-bar-vertical-stacked>
</div>