 .card {
    width: 100%;
    background-color: #fff;
    border-radius: 19px;
    border: none;
    position: relative !important;
    margin-top: 30px;    
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
        0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
        0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
        0 0.125rem 0.1875rem rgba(90 97 105 / 10%);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
} 


.amount {
    font-size: large;
    font-weight: 700;
    font-family: verdana;
    color: #4285f4;
    position: relative;
    margin-top: 20px;
}


  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
    
}



/* .mgcard {
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 4px;
    border: none;
    position: relative !important;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
        0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
        0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
        0 0.125rem 0.1875rem rgba(90 97 105 / 10%);
   
} */

table {
    color: #ffffff;
    width: 75%;  
    padding-bottom: 50px;  
    margin-left: 100px;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;  
  }
  
  tr:nth-child(even) {
    background-color: darkgray;
  }

  tr:nth-child(odd) {
    background-color: dimgrey;
  }



